<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改页面</title>
    <link href="/static/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <style>
        .abtn {
            display: block;
            width:45px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            color: 	#434A54;
            background-color: #3BAEDA;
            border-radius: 5px; // 圆角
        margin-left: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<!--此标签用来记录从数据库获取的id值-->
<input type="hidden" id="id">
标题：<input type="text" id="title"><br>
作者：<input type="text" id="author"><br>
点击数：<input type="number" id="hits"><br>
<!--cols 长 rows 宽-->
内容：<textarea type="content" style="width: 600px;" cols="30" rows="10" id="content"></textarea>
<button onclick="edit()">修改</button>
<br>
<a href="/list" class="abtn">返回</a>

<script src="/static/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    //实例化编辑器 用于获取 ontent 中拿取内容
    let um = UM.getEditor('content')

    // 先从服务端获取已有的数据内容 进行修改
    function init() {
        // 获取浏览器搜索框上的值
        let id = location.search.replace("?id=","")
        // 调用指定接口 ajax
        $.get("/api/index/data",{id:id},function (resp) {
            console.log(resp) // 测试是否可以成功输出
            // json嵌套 取值
            console.log(resp.title)
            $("#title").val(resp.data.title)
            $("#author").val(resp.data.author)
            um.setContent(resp.data.content)
            $("#hits").val(resp.data.hits)
            // 此处id来源于服务器端
            $("#id").val(resp.data.id)
        },"json")
    }
    init()

    // 获取修改完的值 提交给服务端
    function edit() {
        // console.log("幸运") // 测试是否关联成功
        let title = $("#title").val()
        let author = $("#author").val()
        let hits = $("#hits").val()
        let content = um.getContent()
        // 此处id获取于 隐藏输入框中 用于查找 指定id的数据
        let id = $("#id").val()

        $.ajax({
            url: "/api/article/edit",
            type: "post",
            // JSON.stringify 把对象转换为JSON格式
            data: JSON.stringify({title:title,author:author,hits:Number(hits),content:content,id:Number(id)}),
            contentType: "application/json", // 规定发送给服务端的数据类型
            dataType:"json", // 规定服务端给我们的数据类型
            complete: function (resp) {
                // console.log(resp)
                // 通过payload 方式传输过来的数据更多了
                // console.log(resp.responseJSON.code)
            }
        })
    }

</script>
</body>
</html>